<html>
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale: 1.0, user-scalable=0"/>
    <!--css files-->
    <link rel="stylesheet" href="{% static "personality/styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "personality/styles/jqcloud.css" %}">
    <link rel="stylesheet" href="{% static "personality/styles/style.css" %}">
    <!--javascript files-->
    <script src="{% static 'personality/script/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'personality/script/bootstrap.js' %}"></script>
    <script src="{% static 'personality/script/jqcloud-1.0.4.js' %}"></script>
    <script src="{% static 'personality/script/d3.v3.min.js' %}"></script>
    <script src="{% static 'personality/script/d3tip.js' %}"></script>
    <script src="{% static 'personality/script/script.js' %}"></script>
    <title>Personality Insights</title>
    <script>
        function getValue(item) {
            $.ajax({
                type: "POST",
                url: "/review",
                data: {
                    index: item,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                dataType: "json",
                success: function (result) {
                    $('#review').css('display', 'block');
                    $('.reviewtext').empty().append(result.reviewText);
                    personality_data = result.personality_data;
                    personality_words = result.personality;
                    values_words = result.needs;
                    needs_words = result.values;
                    setCloud(personality_words, values_words, needs_words);
                    d3Function(personality_data)
                }
            })
        }
    </script>
</head>
<body>
<div>
    <header class="text-center">
        <h1>Personality Insights</h1>
        <h2>Insights on Amazon Instant Video Reviews</h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Reviewer's
                        Name
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="width: 100%">
                        {% for i in reviews %}
                            <li onclick="getValue({{ i.index }})"><a href="#">
                                {{ i.reviewerName }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div id="review" style="display: none;" class="text-justify">
                    <h2>Current Review Text</h2>
                    <p class="reviewtext" style="height: 100px; overflow: auto;"></p>
                </div>
            </div>
            <div class="col-md-12 wordcloud" style="margin-left: -20px; display: none; margin-top: 20px;">
                <div class="col-md-4 text-center">
                    <h2 style="margin-bottom: 0px;">Personality</h2>
                    <div id="personality" style="width: 420px; height: 350px;"></div>
                </div>
                <div class="col-md-4 text-center">
                    <h2 style="margin-bottom: 0px;">Values</h2>
                    <div id="values" style="width: 420px; height: 350px;"></div>
                </div>
                <div class="col-md-4 text-center">
                    <h2 style="margin-bottom:0px;">Needs</h2>
                    <div id="needs" style="width: 420px; height: 350px;"></div>
                </div>
            </div>
            <div class="col-md-12" id="collapse" style="margin-left: 30px; margin-top: -100px;">
            </div>
        </div>
    </div>
</div>
</body>
</html>
